extends layout

block content
  .row
    .col-md-6.col-md-offset-3
      h1 Add a piece of infrastructure!
      form(method="POST")
        .form-group
          label Name:
          input.form-control(type='text', name='name', placeholder='Telephone Pole' value=item.name)
        .form-group
          label Description:
          input.form-control(type='text', name='description', placeholder='Something interesting...', value=item.description)
        .form-group
          label Fun Fact:
          input.form-control(type='text', name='fun_fact', placeholder='', value=item.fun_fact)
        .form-group
          label Photo url:
          input.form-control(type='text', name='photo_url', placeholder='http://...', value=item.photo_url)

        .form-group
          label Type
          select.form-control(name="type")
            each type in types
              if (item.type === type.id)
                option(selected)= type.name
              else
                option= type.name

        button.btn.btn-default(type="submit") Submit
