extends layout

block content
  h2.col-xs-offset-1.col-xs-11.col-md-offset-1.col-md-11.title Birds of San Francisco
  .clearfix
  #filters.col-xs-3.col-sm-2.col-md-1
    p.clearfix
    #size-filter.btn-group-vertical
      button.btn.btn-default.active(data-filter='*') show all
      button.btn.btn-default(data-filter='[data-size=small]') small
      button.btn.btn-default(data-filter='[data-size=medium]') medium
      button.btn.btn-default(data-filter='[data-size=large]') large
    p.clearfix
    #color-filter.btn-group-vertical
      button.btn.btn-default.active(data-filter='*') show all
      button.btn.btn-default(data-filter='[data-color*=red]') red
      button.btn.btn-default(data-filter='[data-color*=orange]') orange
      button.btn.btn-default(data-filter='[data-color*=yellow]') yellow
      button.btn.btn-default(data-filter='[data-color*=green]') green
      button.btn.btn-default(data-filter='[data-color*=blue]') blue
      button.btn.btn-default(data-filter='[data-color*=purple]') purple
      button.btn.btn-default(data-filter='[data-color*=black]') black
      button.btn.btn-default(data-filter='[data-color*=grey]') grey
      button.btn.btn-default(data-filter='[data-color*=brown]') brown
      button.btn.btn-default(data-filter='[data-color*=white]') white
  #items.col-xs-9.col-xs-offset-3.col-sm-10.col-sm-offset-2.col-md-11.col-md-offset-1
    each bird in birds
      div.bird(data-commonality="#{bird.commonality}", data-fun-fact="#{bird.fun_fact}", data-size="#{bird.size}", data-color="#{bird.color}")
        a.bird_link(href="javaScript:void(0);", title="Fun Fact", tabindex=100, data-toggle="popover", data-trigger="focus", data-content="#{bird.fun_fact}", data-placement="top")
          img(src=bird.photo_url, alt="#{bird.name}")
  
