extends layout

block content
  h2.col-xs-offset-1.col-xs-11.col-md-offset-1.col-md-11.title Infrastructure of the World
  .clearfix
  #filters.col-xs-3.col-sm-2.col-md-1
    p.clearfix
    #size-filter.btn-group-vertical
      button.btn.btn-default.active(data-filter='*') show all
      button.btn.btn-default(data-filter='[data-size=small]') small
      button.btn.btn-default(data-filter='[data-size=medium]') medium
      button.btn.btn-default(data-filter='[data-size=large]') large
    p.clearfix
    #color-filter.btn-group-vertical
      button.btn.btn-default.active(data-filter='*') show all
      button.btn.btn-default(data-filter='[data-color*=red]') red
      button.btn.btn-default(data-filter='[data-color*=orange]') orange
      button.btn.btn-default(data-filter='[data-color*=yellow]') yellow
      button.btn.btn-default(data-filter='[data-color*=green]') green
      button.btn.btn-default(data-filter='[data-color*=blue]') blue
      button.btn.btn-default(data-filter='[data-color*=purple]') purple
      button.btn.btn-default(data-filter='[data-color*=black]') black
      button.btn.btn-default(data-filter='[data-color*=grey]') grey
      button.btn.btn-default(data-filter='[data-color*=brown]') brown
      button.btn.btn-default(data-filter='[data-color*=white]') white
  #items.col-xs-9.col-xs-offset-3.col-sm-10.col-sm-offset-2.col-md-11.col-md-offset-1
    each item in infras
      div.photo.infra
        a.photo_link(
          href="javaScript:void(0);"
          title="Fun Fact"
          tabindex=100
          data-toggle="popover"
          data-trigger="focus"
          data-content!="<p>#{item.fun_fact}</p><a href='/edit/#{item.id}/' class='pull-right'>Edit</a>"
          data-placement="top"
        )
          img(src=item.photo_url, alt="#{item.name}")

